footer {
    position: relative;
    border: 2px solid red;
}
.footerbg-top {
    background: url("../assets/footerbg-top.svg") no-repeat center top;
    width: 100%;
    background-size: 100% auto;
}

.footerbg-bottom {
    background: url("../assets/footerbg-bottom.svg") no-repeat center top;
    width: 100%;
    height: 300px;
    background-size: 100% auto;
    position: absolute;
    bottom: 0;
    right: 0;
}
