.footer-heading {
  width: fit-content;
  min-width: 500px;
  margin: 0 auto 120px auto;
}

h1.h1-heading {
  color: var(--primary-color);
  font-family: var(--heading-font);
  border-bottom: 2px dashed var(--primary-color);
  text-align: center;
  display: block;
  padding: 20px;
}

.footer-pageLinks {
  margin: 0 auto;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; */
  width: fit-content;
  border: 3px solid salmon;
}

.footer-heading-intro {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--text-color);
  padding: 20px;
}

.footer-pageLink-upper {
  /* display: flex;
  flex-wrap: wrap; */
  gap: 80px;
  margin-bottom: 40px;
  border: 3px solid olivedrab;
  width: fit-content;
}