.card {
    display: flex;
    width:  980px;
    height: 322px;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 0 80px 0 80px;
}

.card-top {
    width: 80%;
    height: 100%;
    border-radius: 0 0 0 80px;
    position: relative;
    background-size: cover;
    background-position: center center;
    transition: all 0.3s ease;
}

.card-top img {
    width: 100%;
}

.card-top button.arrow {
    width: 70px;
    height: 70px;
    padding: 15px;
    border-radius: 35px;
    background: var(--primary-color);
    border: 0;
    position: absolute;
    right: 30px;
    bottom: 30px;
    transition: all 0.3s ease;
}

.card-top button.arrow svg {
    transition: all 0.3s ease;
}

.card-body {
    display: flex;
    width: 450px;
    height: 227px;
    padding: 40px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.card-body h2 {
    font-family: var(--heading-font);
    font-weight: 900;
    color: var(--primary-color);
}

.card-body p {
    color: var(--text-color);
    line-height: 1.6;
}

.card:hover .card-top button.arrow svg {
    transform: translateX(10px);
}

.card:hover .card-top button.arrow {
    background-color: var(--secondary-color);
}

.card:hover .card-top {
    filter: opacity(0.8);
}

@media (min-width: 768px) {
    
}