footer {
    position: relative;
}

.footerbg-top {
    background: url("../assets/footerbg-top.svg") no-repeat center top;
    width: 100%;
    height: fit-content;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 20%;
}

.footerbg-bottom {
    position: absolute;
    bottom: 0;
    height: fit-content;
    width: 100%;
}

.footerbg-bottom img {
    width: 100%;
    height: auto;
}

.footer-h2 {
    text-align: center;
    margin-bottom: 50px;
}

.footer-h2 img {
    width: 150px;
}

.footer-h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    word-break: keep-all;
    overflow-wrap: break-word;
}

.footer-h3 span {
    color: var(--primary-color);
    margin-left: 8px;
}

ul.footer-ul {
    margin-top: 20px !important;
    border-left: 3px dashed var(--secondary-color);
    padding-left: 30px;
    margin-bottom: 35px;
}

p.alcohol-alert {
    margin: 50px auto 150px auto;
    line-height: 1.5rem;
    width: 90%;
    height: fit-content;
    padding: 20px 30px;
    gap: 10px;
    border-radius: 20px;
    background: var(--background-color);
}

small.copyright {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #727272;
    font-family: var(--EN-text-font);
}

@media (min-width: 768px) {
    .footer-nav{
        display: flex;
        justify-content: space-between;
    }
}