.card {
    display: flex;
    max-width: 350px;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0 80px 0 80px;
    margin: 0 auto;
    cursor: pointer;
}

.card-top {
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 0 80px 0 0;
    background-size: cover;
    background-position: center center;
    transition: all 0.3s ease;
}

.card-top button.arrow {
    width: 70px;
    height: 70px;
    padding: 15px;
    border-radius: 35px;
    background: var(--primary-color);
    border: 0;
    position: absolute;
    right: 30px;
    bottom: 30px;
    transition: all 0.3s ease;
}

.card-top button.arrow svg {
    transition: all 0.3s ease;
}

.card-body {
    display: flex;
    padding: 30px 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    height: 250px;
    width: 100%;
}

.card-body h2 {
    font-family: var(--heading-font);
    font-weight: 900;
    color: var(--primary-color);
    word-break: keep-all;
    overflow-wrap: break-word;
}

.card-body p {
    color: var(--text-color);
    line-height: 1.6;
}

.card:hover .card-top button.arrow svg {
    transform: translateX(10px);
}

.card:hover .card-top button.arrow {
    background-color: var(--secondary-color);
}

.card:hover .card-top {
    filter: opacity(0.8);
}

/* tablet and up */
@media (min-width: 768px) {
    .card {
        width: 100%;
        max-width: none;
        display: grid;
        grid-template-columns: 1.15fr 1fr;
    }

    .card-top {
        height: 320px;
        border-radius: 0 0 0 80px;
    }

    .card-body {
        padding: 40px 10%;
        height: 250px;
    }
}