footer {
    position: relative;
    border: 2px solid red;
}

.footerbg-top {
    background: url("../assets/footerbg-top.svg") no-repeat center top;
    width: 100%;
    height: fit-content;
    background-size: cover;
    padding-top: 120px;
}

.footerbg-bottom {
    background: url("../assets/footerbg-bottom.svg") no-repeat center top;
    width: 100%;
    height: 300px;
    background-size: 100% auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer-h2 {
    text-align: center;
    margin-bottom: 50px;
}

.footer-h2 img {
    width: 150px;
}

.footer-h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    word-break: keep-all;
    overflow-wrap: break-word;
}

.footer-h3 span {
    color: var(--primary-color);
    margin-left: 8px;
}

ul {
    margin-top: 20px !important;
}
