header.smartphone {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #CDCDCD;
    background: #FFFFFF;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.header-base {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.header-show {
    transform: translateY(32px);
}

.header-hide {
    transform: translateY(-100%);
}

.normal {
    display: none;
}

header .header-logo-btngroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 img {
    width: 130px;
}

header h1 a {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .btn-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

button.contact-btn {
    background-color: var(--primary-color);
    border-radius: 10px;
    display: flex;
    width: 30px;
    height: 100%;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border: none;
}

button.hamburger-btn {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button.hamburger-btn span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--text-color);
    margin: 4px 0;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

button.close span {
    display: block;
}

button.close span.bar3 {
    transform: rotate(45deg) translate(-7px, -6px);

}

button.close span.bar1 {
    transform: rotate(-45deg) translate(-7px, 6px);
}

button.close span.bar2 {
    opacity: 0;
}

nav {
    transition: max-height 0.5s ease, opacity 0.4s ease;
    font-weight: bold;
    color: var(--text-color);
}

nav.visible {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    max-height: 200px;
    opacity: 1;
}

nav.visible li {
    opacity: 1;
    transform: translateY(0);
}

nav.visible li:nth-child(1) {
    transition-delay: 0.1s;
}

nav.visible li:nth-child(2) {
    transition-delay: 0.2s;
}

nav.invisible {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition-delay: -0.1s;
}

nav.invisible li {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity .1s ease, transform .2s ease;
}


ul li {
    list-style: none;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

ul li a {
    text-decoration: none;
    color: var(--text-color);
    display: inline-flex;
    gap: 20px;
}

/* tablet and up */
@media (min-width: 768px) {

    header.normal h1 img {
        max-width: 300px;
        width: 100%;
    }

    button.contact-btn {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        align-items: center;
        gap: 23px;
        border-radius: 10px;
        background: var(--primary-color);
        width: auto;
        color: #FFF;
        text-wrap: nowrap;
        transition: all .3s ease;
        font-size: 16px;
    }

    button.contact-btn span {
        color: #FFFFFF;
        font-weight: bold;
    }

    button.contact-btn:hover {
        background-color: var(--secondary-color);
    }

    .nav-btn-group {
        display: inline-flex;
        padding: 15px 35px;
        justify-content: space-between;
        justify-self: center;
        align-items: center;
        gap: 30px;
        border-radius: 20px;
        border: 1px solid #CDCDCD;
        background: #FFF;
        width: fit-content;
        max-width: 100%;
        overflow-wrap: break-word;
    }

    nav ul {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 30px;
    }

    nav ul li {
        transition: color .3s ease;
        text-wrap: nowrap;
    }

    nav ul li a {
        gap: 10px;
    }

    nav ul li :hover {
        color: var(--primary-color);
    }



}

/* pc and up */
@media (min-width: 992px) {
    header.smartphone {
        display: none;
    }

    header.normal {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        align-items: center;
        margin-top: 32px;
        gap: 50px;
    }

    span.tablet-invisible {
        display: none;
    }
}

@media (min-width: 1280px) {
    span.tablet-invisible {
        display: inline;
    }
}