.top-container {
    margin-top: 120px;

}

.top-container h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

.title-description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
    gap: 10px;
}

.top-container p.top-description {
    width: 100%;
    margin-top: 100px;
    word-break: keep-all;
    overflow-wrap: break-word;
    line-height: 1.8;
    text-align: center;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .top-container {
        margin-top: 30px;
    }
}