.top-kv {
    background: url('../assets/top-kv.jpeg') no-repeat 70% center;
    background-size: cover;
    height: 100vh;
}

.top-kv-h1 {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 120px;
}

.top-kv-h1 img {
    width: 50%;
    min-width: 280px;
    max-width: 400px;
}

.kv-intro {
    background: url("../assets/top-kv-intro.png") no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.kv-intro h2 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.kv-intro p {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--text-color);
    line-height: 36px;
    margin-top: 20px;
    word-break: keep-all;
    overflow-wrap: break-word;
    font-weight: 500;
}

.top-everyonerecipe-preview {
    margin-top: 60px;
    position: relative;
}

.top-everyonerecipe-preview img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.top-everyonerecipe-preview h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

.top-everyonerecipe-preview p {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 1.8;
}

.rank-btn {
    margin-top: 50px;
}

@media (min-width: 992px) {
    .top-kv {
        background: url('../assets/top-kv.jpeg') no-repeat 70% center;
        background-size: cover;
        height: 100vh;
        position: relative;
        top: -20vh;
        left: 0;
        z-index: -1;
    }

    .top-kv-h1 {
        padding-top: 200px;
    }

    .kv-intro {
        margin-top: 0;
    }
}