.jitan-kv {
    background: url("../assets/mom-daughter.jpg") no-repeat 90% center;
    background-size: cover;
    height: 80vh;
    position: relative;
}


.jitan-kv h1 {
    font-family: var(--heading-font);
    color: white;
    background: url("../assets/title-bg.png") no-repeat center center;
    background-size: 100%;
    max-height: 200px;
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: keep-all;
    overflow-wrap: break-word;
    position: absolute;
    bottom: -100px;
    padding: 0 55px 0 55px;
}

.jitan-kv p {
    display: none;
}

.site-route {
    margin-top: 120px;
}

.site-route ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    flex-wrap: wrap;
}

.site-route ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-route ul li img.forward-icon {
    width: 70%;
}

.site-route ul li:first-child {
    position: relative;
}

.site-route ul li:first-child span {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -2px;
    left: 0;
    opacity: 0;
}

.site-route ul li:first-child span {
    width: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.site-route ul li:first-child:hover span {
    width: 100%;
    opacity: 1;
}

.site-route ul li:last-child {
    color: var(--primary-color);
    gap: 5px;
}

.intro-text {
    /* background: url("../assets/jitanrecipe-intro-bg-sp.png") no-repeat center center;
    background-size: contain;
    min-height: 600px;
    width: 100%; */
    position: relative;
}

/* .intro-text img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 2px solid blue;
} */

.intro-text h2 {
    font-family: var(--heading-font);
    margin-top: 100px;
    margin-left: 40px;
    width: fit-content;
}

.intro-text h2 .intro-h2-1 {
    position: relative;
}

.intro-text h2 .intro-h2-2 {
    position: relative;
}

/* dressing line */
.intro-text h2 .dressing-line1 {
    content: "";
    display: inline-block;
    width: 100%;
    height: 8px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 5px;
    right: 0;
    z-index: -1;
}

.intro-text h2 .dressing-line2 {
    content: "";
    display: inline-block;
    width: 100%;
    height: 8px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 5px;
    right: 0;
    z-index: -1;
}

.intro-text p {
    word-break: keep-all;
    overflow-wrap: break-word;
    line-height: 36px;
    margin-left: 60px;
    margin-top: 35px;
    margin-right: 35px;
}

.gradient-bg {
    position: relative;
    width: 100%;
    height: auto;
}

img.gradient-bg-y {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -3;
}

img.gradient-bg-o {
    position: absolute;
    bottom: -150px;
    left: 0;
    z-index: -3;
    width: min(100%, 800px);
}

.ranking {
    word-break: keep-all;
    overflow-wrap: break-word;
    border-radius: max(157px, 30vw) 0;
    background: #FFF;
    height: fit-content;
    padding: 100px 30px;
    line-height: 1.8;
    position: relative;
    margin-top: 80px;
}

.ranking::after {
    border-radius: max(157px, 30vw) 0;
    border: 3px dashed #E96600;
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 25px);
    height: calc(100% - 25px);
    pointer-events: none;
}

.ranking h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

.ranking h3 {
    margin: 60px auto;
    width: fit-content;
    text-align: center;
}

.ranking p {
    margin-top: 30px;
    line-height: 36px;
    width: fit-content;
    margin: 0 auto;
}

.recipe-cards-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (min-width: 386px) {
    .jitan-kv h1 {
        padding: 0 55px 0 80px;
        max-height: 250px;
    }
}

@media (min-width: 768px) {
    .jitan-kv h1 {
        padding: 0 55px 0 80px;
        max-height: 300px;
    }
}