.theme-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto 100px auto;
    border-radius: 20px;
}

.theme-section .theme-img {
    width: 100%;
    height: 250px;
    background: url("../assets/monthly-theme-pic.jpeg") no-repeat center 90%;
    background-size: cover;
    border-radius: 0 0 20px 20px;
}

.theme-container {
    border-radius: 20px 20px 0 0;
    background: #FFF;
    width: 100%;
    margin: 0 auto;
    padding: 50px 8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2.theme-h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-bottom: 60px;
}

h2.theme-thisMonthTheme {
    font-family: var(--heading-font);
    margin-bottom: 60px;
    position: relative;
    z-index: 50;
    text-align: center;
    width: fit-content;
}

h2.theme-thisMonthTheme span {
    margin: 0 10px;
}

div.theme-dressingUnderline {
    position: absolute;
    bottom: 2px;
    width: 95%;
    height: 8px;
    background-color: var(--secondary-color);
    z-index: -5;
    text-align: center;
}

.theme-container p {
    text-align: center;
    word-break: keep-all;
    overflow-wrap: break-word;
    line-height: 2;
}

.theme-container p.theme-text {
    margin-bottom: 30px;
}

.theme-container button {
    margin-top: 35px;
}

.theme-container a {
    width: 100%;
}

@media (min-width: 768px) {
    .theme-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        max-width: 1024px;
        border-radius: 20px;
    }

    .theme-container {
        border-radius: 20px 0 0 20px;
    }

    .theme-section .theme-img {
        height: 100%;
        border-radius: 0 20px 20px 0;
    }
}