.submit-btn {
    width: 140px;
    padding: 15px 30px 10px 30px;
    gap: 10px;
    border-radius: 20px 20px 0 0;
    background: var(--primary-color);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.btn-sp-show {
    transform: translateY(60px);
}


@media (min-width: 992px) {
    .submit-btn {
        width: 150px;
        height: 150px;
        padding: 48px 35px;
        gap: 10px;
        border-radius: 75px;
        background: var(--primary-color);
        font-size: 20px;
        cursor: pointer;
        bottom: 30px;
        z-index: 1000;
        right: 30px;
        transition: all 0.3s ease;
    }

    .submit-btn:hover {
        background: var(--secondary-color);
    }

    .btn-sp-show {
        transform: translateY(0px);
    }
}