.card {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 15px;
    position: relative;
}

.card h2 {
    color: #FFF;
    text-shadow: 0 4px 4px rgb(0, 0, 0);
    font-size: 22px;
}

.card p.tag {
    width: 164px;
    height: 61px;
    font-family: var(--heading-font);
    font-weight: bold;
    color: white;
    background: url("../assets/tag.svg") no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    left: -30px;
}

.active {
    display: block;
}

.hidden {
    display: none;
}

button.btn {
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
    border-radius: 12px;
    border: 1px solid var(--primary-color);
    background: #FFF;
    transition: all 0.3s ease;
    cursor: pointer;
}

button.now-btn {
    width: 70px;
    background-color: var(--primary-color);
}

.button-group {
    display: flex;
    gap: 8px;
    margin-top: 20px;
    justify-content: center;
}

.slide-btn {
    display: flex;
    gap: 8px;
    justify-content: center;
}


@media (min-width: 768px) {
    .card {
        cursor: pointer;
        transition: all 0.3s ease;
        background-size: 100%;
    }

    .card:hover {
        opacity: 0.7;
        background-size: 105%;
    }
}